@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #e0e0e0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-roboto-condensed), sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}